.gradle
.settings
/.idea/
/.vscode/
/run/
/build/
/eclipse/
.classpath
.project
/bin/
/config/
/crash-reports/
/logs/
options.txt
/saves/
usernamecache.json
banned-ips.json
banned-players.json
eula.txt
ops.json
server.properties
servers.dat
usercache.json
whitelist.json
/out/
*.iml
*.ipr
*.iws
*.bat
*.DS_Store
!gradlew.bat
.factorypath
gradle.properties
CustomNPCs_code-1.6.4/
CustomNPCs_code/
CustomNPCs_code_fernflower/
CustomNPC-Plus-master/
CustomNpcs-Crafting-View/
Multiplayer164/
.claude/
.esdata/
